footer {
    background-color: #F4FBFF;
    position:absolute;
    bottom: 0;
	border-color:#b5ebe7;
	border-width:1px ;
	border-style: solid;
	background-color:#b5ebe7;
    margin-bottom: -1100px;
}

.redes {
    width: 3%;
    margin: 3px ;
}

.footerImg {
	display: flex;
	justify-content: end;
}